@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --color-primary: #548ab7;
    --color-secondary: #09599b;
    --color-light: #84aed1;
    --color-medium: #03335c;
    --color-dark: #01213b;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-text: #727272;
    --font-Raleway: "Raleway", sans-serif;
    --font-Roboto: "Roboto", sans-serif;
}

.carousel-inner,
.carousel-item {
    height: 180px;
    border-radius: 5px;
}

.carousel-control-next,
.carousel-control-prev {
    display: none;
}

.category-navbar {
    gap: 20px;
    align-items: center;
}

.category-navbar .nav-link {
    padding: 0 !important;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-Raleway);
}

.main-dropdown .nav-link {
    padding: 0 !important;
    font-size: 16px;
    font-weight: 500;
}

.main-dropdown .dropdown-menu {
    min-width: auto;
    max-width: 1300px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    top: calc(100% + -0.2rem);
}

.main-dropdown {
    position: static;
}

.category-navbar-box {
    background: var(--color-primary);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.custom-list {
    display: inline-block;
    margin: 0 10px 15px;
    vertical-align: top;
}

.custom-list li h5 {
    color: var(--color-dark);
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-Roboto);
}

.custom-list li,
.custom-list li a {
    color: var(--color-text);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-Raleway);
    text-decoration: none;
    transition: 0.3s;
}

.custom-list li:hover,
.custom-list li a:hover {
    color: var(--color-primary);
}

.product-card {
    /* max-width: 280px; */
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid var(--color-secondary);
    background: var(--color-white);
}

.product-img {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: var(--color-black);
}
.product-slider .slick-slide {
    margin: 0 5px;
}


.product-slider{
    background: rgba(132, 174, 209, 0.05);
    padding:20px 10px;
}